@import "tailwindcss";

@font-face {
  font-family: "Garamond";
  src: url("/fonts/AGaramondPro-Bold.woff2") format("woff2"),
    url("/fonts/AGaramondPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Garamond";
  src: url("/fonts/AGaramondPro-Regular.woff2") format("woff2"),
    url("/fonts/AGaramondPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/fonts/AGaramondPro-Italic.woff2") format("woff2"),
    url("/fonts/AGaramondPro-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Garamond";
  src: url("/fonts/AGaramondPro-BoldItalic.woff2") format("woff2"),
    url("/fonts/AGaramondPro-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Univers";
  src: url("/fonts/UniversLTStd.woff2") format("woff2"),
    url("/fonts/UniversLTStd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Garamond";
  -webkit-font-smoothing: antialiased;
}

@theme {
  --color-cursed-grey: #666666;
  --color-white-smoke: #F5F5F5;
}